/* 
Colors and configs
- light blue #0094da 
- Dark Blue #0071bb 
- Google Reviews bitly link https://bit.ly/3e2loil 
- Google Wirte Reviews bitly link https://bit.ly/2BxSuJx 
*/

$beige: #FAF0CA;
$mainYellow: #F4D35E;
$mainBlue: #000000;
$lightOrange: #EE964B;
$darkOrange: #F95738;